/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
   
    /* text-decoration: none; */
}
body{
    background: -o-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(199,148,233,0.6223739495798319) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(199,148,233,0.6223739495798319) 100%);
}


main {
    height: 72vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 22rem;
    -webkit-box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border: 1px dashed black;
    width: 16rem;
background-color: whitesmoke;
    border-radius: 9px;
}

/* .msg{
    transition: all ease 3s;
    animation: anime 2s ease 1;
    background-color: aliceblue;
    opacity: 0;
} */

.msg-wrapper {
    height: 40px;
    text-align: center;
}

.msg {
    /* opacity: 0; */
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    /* background-color: aliceblue; */
    font-size: 12px;
    font-family: 'Gloria Hallelujah', cursive;

}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}


.like-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    width: 100%;
}

.msg-translateY{
    -webkit-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
            transform: translateY(-12px);
    font-size: 14px;
}

Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#nameBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.user-container {
    margin: 5px;
  
    background-color: #ffffff;
   
    padding: 10px;

    border-radius: 5px;
   
    border: 1px dashed black;
}

.user-names {
    margin-top: 50px;
}

.h2 {
    font-size: 16px;
}

.input {
    width: 12rem;
    height: 1.8rem;
    outline: none;
    border: 1px solid black;
    border-radius: 9px;
    padding: 0px .3rem;
}

.input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;

}

.header {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;

}

.head {
    font-family: 'Honk', system-ui;
    font-size: 1.5rem;
}

label {
    font-family: 'Gloria Hallelujah', cursive;
}

button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 22px 20px 22px;
    -webkit-box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    -webkit-transition: border-color 400ms ease-in-out,
        background-color 400ms ease-in-out,
        -webkit-transform 400ms cubic-bezier(.68, -0.55, .27, 2.5);
    transition: border-color 400ms ease-in-out,
        background-color 400ms ease-in-out,
        -webkit-transform 400ms cubic-bezier(.68, -0.55, .27, 2.5);
    -o-transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
        border-color 400ms ease-in-out,
        background-color 400ms ease-in-out;
    transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
        border-color 400ms ease-in-out,
        background-color 400ms ease-in-out;
    transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
        border-color 400ms ease-in-out,
        background-color 400ms ease-in-out,
        -webkit-transform 400ms cubic-bezier(.68, -0.55, .27, 2.5);
    word-spacing: -2px;
}

@-webkit-keyframes movingBorders {
    0% {
        border-color: #fce4e4;
    }

    50% {
        border-color: #ffd8d8;
    }

    90% {
        border-color: #fce4e4;
    }
}

@keyframes movingBorders {
    0% {
        border-color: #fce4e4;
    }

    50% {
        border-color: #ffd8d8;
    }

    90% {
        border-color: #fce4e4;
    }
}

button:hover {
    background-color: #eee;
    -webkit-transform: scale(105%);
        -ms-transform: scale(105%);
            transform: scale(105%);
    -webkit-animation: movingBorders 3s infinite;
            animation: movingBorders 3s infinite;
    cursor: pointer;
}

.filled,
.empty {
    fill: rgb(255, 110, 110);
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

.filled {
    position: absolute;
    opacity: 1;
}

@-webkit-keyframes beatingHeart {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    15% {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }

    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    45% {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }

    60% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes beatingHeart {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    15% {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }

    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    45% {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }

    60% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

button:hover .empty {
    opacity: 0;
}

button:hover .filled {
    opacity: 1;
    -webkit-animation: beatingHeart 1.2s infinite;
            animation: beatingHeart 1.2s infinite;
}


.credit-img {
    height: 45px;
    width: 45px;
}

.credit-conatiner {
    text-align: center;
}

.credit-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    border: 1px solid black;
    padding: .2rem;
    ;
    -webkit-box-pack: center;
    ;
        -ms-flex-pack: center;
    ;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 2px;
    width: 100%;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    transition: all ease 300ms;
}

.credit-para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}

.credit-wrapper:hover {
    background-color: #fce4e44b;
}

.developer-credit {
    font-size: 12px;
}

.bio {
    font-size: 11px;
}

.credit {
    height: 100%;

    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}


.credit-head {
    font-family: 'Honk', system-ui;
    font-size: 1.5rem;
}

.credit-img-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.heart {
    -webkit-animation: heartbeat 1s infinite;
            animation: heartbeat 1s infinite;
}

@-webkit-keyframes heartbeat {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    40% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }

    60% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

@keyframes heartbeat {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    40% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }

    60% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

.devloper-name {
    color: red;
    /* text-decoration: dashed; */
    cursor: pointer;
    font-size: 15px;
}


.thanks {
    text-align: center;
}

.thanks>span {
    font-weight: bold;
    font-size: 13px;
}

.like-count:first-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.like-box{
    border: 1px dashed black;
    padding: .2rem .5rem;
    border-radius: 9px;

}
#nameBackground{
    margin-top: 2rem;
    
}
